body{
    font-size: 14px;
    background:RGB(150,150,150);
    
}

.navbar {
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-fix-top{
    top: 0;
    z-index: 1030;
    position: fixed;    
    right: 0;
    left: 0;
    border-width: 0 0 1px;
}

.navbar-default{
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    color: #777;
}

.container{
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    width: auto;
    padding: 0 15px
}

.navbar-header{
    float: left;
}

.navbar-brand{
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #777;
}

.navbar-content{
    float: left;
    padding: 15px 10px;    
    line-height: 20px;
    color: #777;
}


a:link{
    text-decoration: none;
}